<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" type="text/css" media="screen" charset="utf-8">
    <title>PlantPal</title>
</head>
<body class="bg-green-50 text-gray-800">
    <header class="p-4 bg-green-700 text-white text-xl font-semibold">
        <a href="/" class="hover:underline">PlantPal</a>
    </header>
    <main class="p-6">
        {{{body}}}
    </main>
</body>
</html>